@import 'variables.scss';

.card {
    width: 700px;
    transition: transform 1s ease;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
}

.flipped {
  transform: rotateY( 180deg );
}