@import './variables.scss';

.correct-guess {
  position: relative;
  border: 2px solid grey;
  height: 400px;
  width: 700px;
  background: #00FFEC;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.correct {
  position: relative;
  left: 100px;
  width: 100px;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
}

.lightbulb {
  height: 300px;
  width: 200px;
  position: absolute;
  top: 30px;
  right: 51px;
  filter: drop-shadow(6px 8px 25px $yellow) drop-shadow(-6px -8px 15px $yellow) 
}

.wave {
  position: absolute;
  height: 210px;
  width: 700px;
  background: white;
}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 170px;
  height: 80px;
  background-color: #00FFEC;
  right: -5px;
  top: 178px;
}
.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 150px;
  height: 70px;
  background-color: white;
  left: 0;
  top: 169px;
}

.next-card-btn {
  position: absolute;
  top: 270px;
  left: 85px;
}

.next-card-btn {
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 25px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  float:left;
  height: 50px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 140px;      
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.next-card-btn:after{
  color:#e9e6e4;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}

.next-card-btn:hover{
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color:#0088cc;
}