@import 'variables.scss';

.header {
  position: relative;
  display: flex;
  background: $med-blue;
  height: 110px;
  justify-content: center;
  align-items: center;
}

.touch-terminal-header {
  margin-top: 35px;
  font-size: 3.8em;
  font-family: $marker;
  color: $black;
}

.header-buttons {
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.header-button {
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 5px;
  font-size: .9em;
  font-weight: 600;
  margin-left: 12px;
  color: $black;
}

.header-button:hover {
  border-bottom: 3px solid white;
  color: white;
}