@import 'variables.scss';

.header {
  display: flex;
  background: $med-blue;
  height: 110px;
  justify-content: center;
  align-items: center;
}

.touch-terminal-header {
  margin-top: 35px;
  font-size: 3.8em;
  font-family: $marker;
  color: $black;
}