@import './variables.scss';

.incorrect-guess {
  @include card-layout();
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.incorrect {
  position: relative;
  left: 100px;
  width: 100px;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
}

.wave {
  @include wave();
}

.lightbulb-out {
  height: 300px;
  width: 200px;
  position: absolute;
  top: 30px;
  right: 51px;
}

.next-card {
  @include white-btn(100px, 100px, 140px)
}
