@import 'variables.scss';

.main {
  display: grid;
  grid-template-areas: 'header header'
                       'card score'
                       'card practice'
                       'card practice'
                       'footer footer';
  grid-template-columns: 2fr 1fr;
}

.header {
  grid-area: header;
}

.card-container {
  grid-area: card;
}

.score {
  grid-area: score;
}

.practice {
  grid-area: practice-commands;
}

.footer {
  grid-area: footer;
}