@import 'variables.scss';

.name-input {
  @include med-weight-font()
  border-radius: 10px;
  border: 3px solid $yellow;
  font-size: 20px;
  height: 35px;
  padding: 1px 2px 2px 8px;
  width: 350px;
}

.submit-name {
  @include med-weight-font()
  background-color: $yellow;
  border-radius: 40px;
  border: 1px solid $black;
  font-size: 16px;
  height: 80px;
  margin-left: 10px;
  width: 80px;
}

.submit-name:hover {
  background-color: $white;
}

.submit-name:disabled {
  background: grey;
}

.name-input::placeholder {
  font-size: 20px;
}