@import 'variables.scss';

.question-container {
  background: #00FFEC;
  height: 400px;
  width: 300px;
  overflow: hidden;
  position: relative;
  color: $black;
  border: 4px solid #EAEDF1;
  text-align: center;
}

.question, .guess-input, .guess-btn, .directions {
  position: absolute;
}

.wave {
  position: absolute;
  height: 210px;
  width: 300px;
  background: white;
}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 170px;
  height: 80px;
  background-color: #00FFEC;
  right: -5px;
  top: 178px;
}
.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 150px;
  height: 70px;
  background-color: white;
  left: 0;
  top: 169px;
}

.directions {
  margin-top: 25px;
  font-size: 1em;
}

.question {
  margin-top: 55px;
}

.guess-input {
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 100px;
  left: 50px;
  border: 2px solid $yellow;
}

.guess-btn {
  position: absolute;
  top: 325px;
  left: 85px;
}

.guess-btn{
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
  background-image: linear-gradient(top, #f4f1ee, #fff);
  border-radius: 25px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
  float:left;
  height: 50px;
  margin: 0 30px 30px 0;
  position: relative;
  width: 140px;      
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.guess-btn:after{
  color:#e9e6e4;
  content: "";
  display: block;
  font-size: 30px;
  height: 30px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 30px;
}

.guess-btn:hover{
  background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
  background-image: linear-gradient(top, #fff, #f4f1ee);
  color:#0088cc;
}