@import './variables';

.question-container {
  @include card-layout();
}

.question, .guess-input, .guess-btn, .directions {
  position: absolute;
}

.wave {
  @include wave();
}

.directions {
  margin: 20px 0 0 20px;
  font-size: 1.5em;
  font-family: $raleway;
}

.question {
  margin: 95px 20px 0 20px;
  font-size: 2em;
  width: 95%;
  text-align: center;
  font-family: $marker;
}

.guess-input {
  width: 400px;
  height: 40px;
  bottom: 55px;
  left: 40px;
  border: 2px solid $yellow;
  font-size: 1.2em;
}

.guess-input::placeholder {
  font-size: 1.2em;
}

.guess-btn {
  @include white-btn(295px, 485px, 180px, 1em)
}