@import './variables';

.score {
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey,
              2px 2px 6px $yellow;
  color: $black;
  height: 250px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
}

.player-name {
  @include score(left, 2.3em, 5px, 0, 10px, 0, $raleway)
  border-bottom: 2px solid $med-blue;
}

.score-header {
  @include score(left, 1.5em, 10px, 0, 10px, 0, $marker)
}

.player-score, .player-percentage {
  @include score(center, 2.5em, 20px, 0, 10px, 0, $raleway)
}